/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.container {
	width: 80%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.container a:visited {
	color:white;
}

.business-listing a:visited {
	color: black;
}

.fuck {
	margin-bottom: 20px;
}

#my-nav {
	padding-left: 40%;
}

.business-listing {
	padding-top: 0;
}

.business {
	width: 45%;
	display: inline-block;
}

.deal-right {
	float: right;
	width:45%
}
